.btn-add {
    background-color: green !important;
    color: white !important;
    position: absolute;
    right: 16px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #ff8f00;
}

.page-info {
    margin: 0 20px;
    font-size: 18px;
    color: #333;
}