<div class="bg-white w-full overflow-hidden rounded-lg shadow-xs rounded">
    <div class="w-full overflow-x-auto py-5 px-5">
        <span>Nombre: </span><span> {{ empresa.Nombre }}</span>
        <br>
        <span>Direccion: </span><span> {{ empresa.Direccion }}</span>
        <br>
        <div class="row">
            <div class="col-md-6">
                <span>Correo Electronico: </span><span> {{ empresa.CorreoElectronico }}</span>
            </div>
            <div class="col-md-6">
                <span>Telefono: </span><span> {{ empresa.Telefono }}</span>
            </div>
        </div>
        <br>

        <hr>
        <br>
    </div>
</div>