<div class=" w-full overflow-hidden rounded-lg shadow-xs">
   
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap w-100">
            <thead>
                <tr
                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800 w-100">
                    <th class="px-4 py-3">Nº</th>
                    <th class="px-4 py-3">Nombre</th>
                    <th class="px-4 py-3">Direccion</th>
            
                    <th class="px-4 py-3">Acciones</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 w-100">
                <tr *ngFor="let formularios of formularios$ | async; let i = index" class="text-gray-700 dark:text-gray-400">

                    <td class="px-4 py-3">{{ i + 1 }}</td>
                    <td class="px-4 py-3">{{ formularios.Nombre }}</td>
                    <td class="px-4 py-3">{{ formularios.Descripcion }}</td>
                  




                    <td class="px-4 py-3">
                        <a routerLink="form/{{formularios.ID}}/rellenar">
                        <button mat-icon-button>
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </a>
                    <a id="downloadLink" style="display: none;"></a>
                        <button mat-icon-button id="download" (click)="downloadFile(formularios.ID)">
                            <mat-icon color="green">search</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>