<div class="container-fluid">
    <h2 class="text-dark mb-4">Formulario de empresas</h2>
    <div class="row mb-3">
        <div class="col-lg-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Empresas</mat-card-title>
                </mat-card-header>
                <div *ngIf="ExisteUser; else create" class="card-body mx-3 mb-3">
                    <form [formGroup]="userForm" (ngSubmit)="onUpdate()" novalidate>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input class="form-control" type="text" placeholder="{{user.Nombre}}" formControlName="nombre" [(ngModel)]=user.Nombre>
                                </div>
                            </div>
                        </div>

                        <button color="primary" class="w-100" [disabled]="!userForm.valid" mat-raised-button type="submit"><span>Editar empresa</span></button>
                    </form>
                </div>

                <ng-template #create>
                    <div *ngIf="user == null" class="card-body mx-3 mb-3">
                        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                                    </div>
                                </div>
                            </div>

                            <button color="primary" class="w-100" [disabled]="!userForm.valid" mat-raised-button type="submit"><span>Crear empresa</span></button>
                        </form>
                    </div>
                </ng-template>
            </mat-card>

        </div>
    </div>
</div>