<div id="wrapper">
    <app-navigation *ngIf="isAutenticated"></app-navigation>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navsuperior *ngIf="isAutenticated"></app-navsuperior>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>

        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
            </div>
        </footer>
    </div>