<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image" style="background-image: url('https://images.ecestaticos.com/hvenlH49xPayp4ZQYGbwULFG2_Y=/280x3:1254x733/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fe2c%2Febb%2F6bb%2Fe2cebb6bb5294ae806e46901c6a9070c.jpg');
                        filter: blur(1px);">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Bienvenido de nuevo</h4>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                            <div *ngIf="loginForm.get('correoElectronico')?.invalid && loginForm.get('correoElectronico')?.touched">
                                <mat-error *ngIf="loginForm.get('correoElectronico')?.hasError('required')">
                                    El correo electronico es requerido
                                </mat-error>
                                <mat-error *ngIf="loginForm.get('correoElectronico')?.hasError('email')">
                                    El correo electronico no es valido
                                </mat-error>

                            </div>
                            <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                            <mat-form-field>
                                <mat-label>Correo Electronico</mat-label>
                                <input matInput placeholder="Correo Electronico" formControlName="correoElectronico">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>
                                    Contraseña
                                </mat-label>
                                <input matInput id="contrasena" type="password" placeholder="Enter your password" formControlName="contrasena" required><i class="fa " [ngClass]="{'fa-eye': !showPwd, 'fa-eye-slash': showPwd}" (click)="showPassword()"></i>
                            </mat-form-field>

                            <button color="accent" class="w-100" [disabled]="!loginForm.valid" mat-raised-button type="submit"><span>Login</span></button>
                        </form>
                        <div class="text-center"><a class="small" routerLink="/recovery">¿Olvidó su contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>