<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">

                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Recuperar cuenta</h4>
                        </div>
                        <form [formGroup]="resetForm" (ngSubmit)="reset()" novalidate>
                            <div class="row">
                                <mat-form-field>
                                    <mat-label>Nueva Contraseña</mat-label>
                                    <input matInput placeholder="Daniel" formControlName="password">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Confirmar Contraseña</mat-label>
                                    <input matInput placeholder="Daniel" formControlName="confirmPassword">
                                </mat-form-field>
                            </div>

                            <button color="accent" [disabled]="!resetForm.valid" mat-raised-button type="submit"><span>Recuperar Cuenta</span></button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>