<div class="container-fluid">
    <h2 class="text-dark mb-4">Creador de formularios</h2>
    <div class="row mb-3">
        <div class="col-lg-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Formulario</mat-card-title>
                    <button  class="btn-addinput" mat-raised-button>  + Añadir Input</button>
                </mat-card-header>
                    <div class="card-body mx-3 mb-3">
                        <form [formGroup]="InputForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input class="form-control" type="text" placeholder="Nombre"
                                            formControlName="nombre">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Tipo</label>
                                       <select class="form-control" formControlName="tipo" id="tipo" (change)="onChangeTipo()">
                                            <option value="text">Texto</option>
                                            <option value="checkbox">Checkbox</option>
                                            <option value="number">Numero</option>
                                            <option value="range">Rango</option>
                                            <option value="radio">Radio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="selche">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Numero de opciones</label>
                                        <input class="form-control" type="number" min=2 max=5 placeholder="Numero de opciones" id="numeroOpciones"(change)="numeroOpciones()">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" id="opciones">
                                </div>
                            </div>
                            <div class="row" id="minmax">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Maximo</label>
                                        <input class="form-control" type="number" min=1 placeholder="Numero Maximo" formControlName="max">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Minimo</label>
                                        <input class="form-control" type="number" min=1 placeholder="Numero Maximo" formControlName="min">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Valor por defecto</label>
                                        <input class="form-control" type="text" placeholder="Value"
                                            formControlName="value">
                                    </div>
                                </div>
                            </div>
                            <button color="primary" class="w-100" mat-raised-button
                            type="submit"><span>Crear formulario</span></button>
                        </form>
                    </div>
            </mat-card>

        </div>
    </div>
</div>
